[package]
name = "vhost_user_net"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"
build = "../build.rs"

[dependencies]
argh = "0.1.9"
env_logger = "0.10.0"
epoll = "4.3.1"
libc = "0.2.139"
log = "0.4.17"
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
vhost = { version = "0.6.0", features = ["vhost-user-slave"] }
vhost-user-backend = "0.8.0"
virtio-bindings = "0.2.0"
vm-memory = "0.10.0"
vmm-sys-util = "0.11.0"

