[package]
name = "vhost_user_net"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"

[dependencies]
clap = { version = "4.0.4", features = ["wrap_help","cargo"] }
env_logger = "0.9.1"
epoll = "4.3.1"
libc = "0.2.133"
log = "0.4.17"
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
vhost = { version = "0.5.0", features = ["vhost-user-slave"] }
vhost-user-backend = "0.7.0"
virtio-bindings = "0.1.0"
vm-memory = "0.9.0"
vmm-sys-util = "0.10.0"

[build-dependencies]
clap = { version = "4.0.4", features = ["cargo"] }
