[package]
authors = ["The Cloud Hypervisor Authors"]
edition.workspace = true
name = "vhost_user_net"
version = "0.1.0"

[dependencies]
clap = { workspace = true, features = ["cargo", "wrap_help"] }
env_logger = { workspace = true }
epoll = { workspace = true }
libc = { workspace = true }
log = { workspace = true }
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
thiserror = { workspace = true }
vhost = { workspace = true, features = ["vhost-user-backend"] }
vhost-user-backend = { workspace = true }
virtio-bindings = { workspace = true }
vm-memory = { workspace = true }
vmm-sys-util = { workspace = true }

[lints]
workspace = true
