[package]
name = "vhost_user_net"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"
build = "../build.rs"

[dependencies]
clap = { version = "4.5.4", features = ["wrap_help","cargo"] }
env_logger = "0.11.3"
epoll = "4.3.3"
libc = "0.2.153"
log = "0.4.21"
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
vhost = { version = "0.11.0", features = ["vhost-user-backend"] }
vhost-user-backend = "0.15.0"
virtio-bindings = "0.2.2"
vm-memory = "0.14.1"
vmm-sys-util = "0.12.1"
