[package]
name = "vhost_user_net"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"
build = "../build.rs"

[dependencies]
clap = { version = "4.4.7", features = ["wrap_help","cargo"] }
env_logger = "0.10.1"
epoll = "4.3.3"
libc = "0.2.147"
log = "0.4.20"
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
vhost = { version = "0.10.0", features = ["vhost-user-backend"] }
vhost-user-backend = "0.13.1"
virtio-bindings = "0.2.0"
vm-memory = "0.14.0"
vmm-sys-util = "0.12.1"
