[package]
name = "cloud-hypervisor"
version = "0.5.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"
default-run = "cloud-hypervisor"
build = "build.rs"

[dependencies]
arc-swap = ">=0.4.4"
clap = { version = "2.33.0", features=["wrap_help"] }
epoll = ">=4.0.1"
futures = { version = "0.3.4", features = ["thread-pool"] }
lazy_static = "1.4.0"
libc = "0.2.68"
log = { version = "0.4.8", features = ["std"] }
serde_json = ">=1.0.9"
vhost_user_backend = { path = "vhost_user_backend"}
vhost_user_block = { path = "vhost_user_block"}
vhost_user_fs = { path = "vhost_user_fs"}
vhost_user_net = { path = "vhost_user_net"}
virtio-bindings = "0.1.0"
vmm = { path = "vmm" }
vm-device = { path = "vm-device" }
vm-memory = "0.1.0"
vmm-sys-util = "0.4.0"
vm-virtio = { path = "vm-virtio" }
vhost_rs = { git = "https://github.com/cloud-hypervisor/vhost", branch = "dragonball", package = "vhost", features = ["vhost-user-slave"] }

[dev-dependencies]
ssh2 = "0.8.0"
dirs = "2.0.2"
credibility = "0.1.3"
tempdir= "0.3.7"
lazy_static= "1.4.0"

[features]
default = ["acpi", "pci", "cmos"]
acpi = ["vmm/acpi"]
pci = ["vmm/pci_support"]
mmio = ["vmm/mmio_support"]
cmos = ["vmm/cmos"]

# Integration tests require a special environment to run in
integration_tests = []

[workspace]
members = [
    "arch",
    "devices",
    "qcow",
    "pci",
    "vmm",
    "vm-virtio",
    "vm-device",
    "vhost_user_block",
    "vhost_user_backend",
    "vhost_user_fs",
    "vhost_user_net",
    "vfio",
    "net_util",
    "acpi_tables",
    "arch_gen",
    "net_gen",
    "vm-allocator",
]
