[package]
name = "cloud-hypervisor"
version = "26.0.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"
default-run = "cloud-hypervisor"
build = "build.rs"
license = "LICENSE-APACHE & LICENSE-BSD-3-Clause"
description = "Open source Virtual Machine Monitor (VMM) that runs on top of KVM"
homepage = "https://github.com/cloud-hypervisor/cloud-hypervisor"
# Minimum buildable version:
# Keep in sync with version in .github/workflows/build.yaml
rust-version = "1.60"

[profile.release]
lto = true
codegen-units = 1
opt-level = "s"

[dependencies]
anyhow = "1.0.65"
api_client = { path = "api_client" }
clap = { version = "4.0.2", features = ["wrap_help","cargo"] }
epoll = "4.3.1"
event_monitor = { path = "event_monitor" }
hypervisor = { path = "hypervisor" }
libc = "0.2.133"
log = { version = "0.4.17", features = ["std"] }
option_parser = { path = "option_parser" }
seccompiler = "0.3.0"
serde_json = "1.0.85"
signal-hook = "0.3.14"
thiserror = "1.0.37"
tracer = { path = "tracer" }
vmm = { path = "vmm" }
vmm-sys-util = "0.10.0"
vm-memory = "0.9.0"

[build-dependencies]
clap = { version = "4.0.2", features = ["cargo"] }

# List of patched crates
[patch.crates-io]
kvm-bindings = { git = "https://github.com/cloud-hypervisor/kvm-bindings", branch = "ch-v0.5.0-tdx" }
kvm-ioctls = { git = "https://github.com/rust-vmm/kvm-ioctls", branch = "main" }
versionize_derive = { git = "https://github.com/cloud-hypervisor/versionize_derive", branch = "ch" }

[dev-dependencies]
dirs = "4.0.0"
net_util = { path = "net_util" }
once_cell = "1.15.0"
serde_json = "1.0.85"
test_infra = { path = "test_infra" }
wait-timeout = "0.2.0"

[features]
default = ["kvm"]
guest_debug = ["vmm/guest_debug"]
kvm = ["vmm/kvm"]
mshv = ["vmm/mshv"]
tdx = ["vmm/tdx"]
tracing = ["vmm/tracing", "tracer/tracing"]

[workspace]
members = [
    "acpi_tables",
    "api_client",
    "arch",
    "block_util",
    "devices",
    "event_monitor",
    "hypervisor",
    "net_gen",
    "net_util",
    "option_parser",
    "pci",
    "performance-metrics",
    "qcow",
    "rate_limiter",
    "serial_buffer",
    "test_infra",
    "tracer",
    "vfio_user",
    "vhdx",
    "vhost_user_block",
    "vhost_user_net",
    "virtio-devices",
    "vmm",
    "vm-allocator",
    "vm-device",
    "vm-migration",
    "vm-virtio"
]
