[package]
name = "cloud-hypervisor"
version = "0.10.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"
default-run = "cloud-hypervisor"
build = "build.rs"
license = "LICENSE-APACHE & LICENSE-BSD-3-Clause"
description = "Open source Virtual Machine Monitor (VMM) that runs on top of KVM"
homepage = "https://github.com/cloud-hypervisor/cloud-hypervisor"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0"
api_client = { path = "api_client" }
clap = { version = "2.33.3", features = ["wrap_help"] }
epoll = ">=4.0.1"
hypervisor = { path = "hypervisor" }
libc = "0.2.80"
log = { version = "0.4.11", features = ["std"] }
option_parser = { path = "option_parser" }
seccomp = { git = "https://github.com/firecracker-microvm/firecracker", tag = "v0.22.0" }
serde_json = "1.0.59"
thiserror = "1.0"
vhost_user_block = { path = "vhost_user_block"}
vhost_user_net = { path = "vhost_user_net"}
vmm = { path = "vmm" }
vmm-sys-util = "0.6.1"
wait-timeout = "0.2.0"

[build-dependencies]
clap = { version = "2.33.3", features = ["wrap_help"] }

# List of patched crates
[patch.crates-io]
vm-memory = { git = "https://github.com/cloud-hypervisor/vm-memory", branch = "ch" }
[patch.'https://github.com/rust-vmm/vhost']
vhost_rs = { git = "https://github.com/cloud-hypervisor/vhost", branch = "ch", package = "vhost", features = ["vhost-user-master", "vhost-user-slave"] }
[patch.'https://github.com/rust-vmm/kvm-ioctls']
kvm-ioctls = { git = "https://github.com/cloud-hypervisor/kvm-ioctls", branch = "ch" }
[patch.'https://github.com/rust-vmm/kvm-bindings']
kvm-bindings = { git = "https://github.com/cloud-hypervisor/kvm-bindings", branch = "ch", features = ["with-serde", "fam-wrappers"] }

[dev-dependencies]
ssh2 = "0.8.2"
dirs = "3.0.1"
credibility = "0.1.3"
tempdir = "0.3.7"
lazy_static= "1.4.0"
tempfile = "3.1.0"
serde_json = "1.0.59"
net_util = { path = "net_util" }

[features]
default = ["acpi", "cmos", "io_uring", "kvm"]
acpi = ["vmm/acpi"]
cmos = ["vmm/cmos"]
fwdebug = ["vmm/fwdebug"]
kvm = ["vmm/kvm"]
io_uring = ["vmm/io_uring"]

# Integration tests require a special environment to run in
integration_tests = []

[workspace]
members = [
    "acpi_tables",
    "api_client",
    "arch",
    "arch_gen",
    "block_util",
    "devices",
    "hypervisor",
    "net_gen",
    "net_util",
    "option_parser",
    "pci",
    "qcow",
    "vhost_user_backend",
    "vhost_user_block",
    "vhost_user_fs",
    "vhost_user_net",
    "virtio-devices",
    "vmm",
    "vm-allocator",
    "vm-device",
    "vm-migration",
    "vm-virtio"
]
