[package]
name = "cloud-hypervisor"
version = "0.13.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"
default-run = "cloud-hypervisor"
build = "build.rs"
license = "LICENSE-APACHE & LICENSE-BSD-3-Clause"
description = "Open source Virtual Machine Monitor (VMM) that runs on top of KVM"
homepage = "https://github.com/cloud-hypervisor/cloud-hypervisor"

[profile.release]
lto = true

[dependencies]
anyhow = "1.0"
api_client = { path = "api_client" }
clap = { version = "2.33.3", features = ["wrap_help"] }
epoll = ">=4.0.1"
event_monitor = { path = "event_monitor" }
hypervisor = { path = "hypervisor" }
libc = "0.2.86"
log = { version = "0.4.14", features = ["std"] }
option_parser = { path = "option_parser" }
seccomp = { git = "https://github.com/firecracker-microvm/firecracker", tag = "v0.22.0" }
serde_json = "1.0.62"
signal-hook = "0.3.6"
thiserror = "1.0"
vmm = { path = "vmm" }
vmm-sys-util = "0.7.0"
vm-memory = "0.5.0"

[build-dependencies]
clap = { version = "2.33.3", features = ["wrap_help"] }

# List of patched crates
[patch.'https://github.com/rust-vmm/vhost']
vhost_rs = { git = "https://github.com/cloud-hypervisor/vhost", branch = "ch", package = "vhost", features = ["vhost-user-master", "vhost-user-slave"] }

[dev-dependencies]
credibility = "0.1.3"
dirs = "3.0.1"
lazy_static= "1.4.0"
net_util = { path = "net_util" }
serde_json = "1.0.62"
ssh2 = "0.9.1"
wait-timeout = "0.2.0"

[features]
default = ["acpi", "cmos", "io_uring", "kvm"]
# Common features for all hypervisors
common = ["acpi", "cmos", "fwdebug", "io_uring"]
acpi = ["vmm/acpi"]
cmos = ["vmm/cmos"]
fwdebug = ["vmm/fwdebug"]
kvm = ["vmm/kvm"]
mshv = ["vmm/mshv"]
io_uring = ["vmm/io_uring"]

# Integration tests require a special environment to run in
integration_tests = []

[workspace]
members = [
    "acpi_tables",
    "api_client",
    "arch",
    "arch_gen",
    "block_util",
    "devices",
    "event_monitor",
    "hypervisor",
    "net_gen",
    "net_util",
    "option_parser",
    "pci",
    "qcow",
    "vhost_user_backend",
    "vhost_user_block",
    "vhost_user_net",
    "virtio-devices",
    "vmm",
    "vm-allocator",
    "vm-device",
    "vm-migration",
    "vm-virtio"
]
