[package]
name = "pci"
version = "0.1.0"
authors = ["Samuel Ortiz <sameo@linux.intel.com>"]
edition = "2018"

[dependencies]
vm-allocator = { path = "../vm-allocator" }
byteorder = "1.3.4"
devices = { path = "../devices" }
libc = "0.2.67"
log = "0.4.8"
vm-device = { path = "../vm-device" }
vm-memory = { git = "https://github.com/rust-vmm/vm-memory" }
