[package]
name = "net_util"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[dependencies]
epoll = ">=4.0.1"
libc = "0.2.78"
log = "0.4.11"
net_gen = { path = "../net_gen" }
rand = "0.7.3"
serde = "1.0.116"
virtio-bindings = "0.1.0"
vm-memory = { version = "0.3.0", features = ["backend-mmap", "backend-atomic"] }
vm-virtio = { path = "../vm-virtio" }
vmm-sys-util = ">=0.3.1"

[dev-dependencies]
lazy_static = "1.3.0"
pnet = "0.26.0"
serde_json = "1.0.58"
