[package]
name = "net_util"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[dependencies]
libc = ">=0.2.39"
rand = ">=0.6.5"
serde = ">=1.0.27"

net_gen = { path = "../net_gen" }
vmm-sys-util = { git = "https://github.com/liujing2/vmm-sys-util" }

[dev-dependencies]
lazy_static = ">=1.1.0"
pnet = "=0.21.0"
serde_json = ">=1.0.9"
