[package]
name = "net_util"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[dependencies]
libc = "0.2.72"
rand = "0.7.3"
serde = "1.0.114"
vmm-sys-util = ">=0.3.1"

net_gen = { path = "../net_gen" }

[dev-dependencies]
lazy_static = "1.3.0"
pnet = "0.26.0"
serde_json = "1.0.56"
