[package]
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"
name = "vm-device"
version = "0.1.0"

[features]
default = []
kvm = ["vfio-ioctls/kvm"]
mshv = ["vfio-ioctls/mshv"]

[dependencies]
hypervisor = { path = "../hypervisor" }
serde = { version = "1.0.208", features = ["derive", "rc"] }
thiserror = { workspace = true }
vfio-ioctls = { workspace = true, default-features = false }
vmm-sys-util = { workspace = true }
