[package]
name = "vm-device"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"

[features]
default = []
kvm = ["vfio-ioctls/kvm"]

[dependencies]
anyhow = "1.0.43"
thiserror = "1.0.26"
serde = { version = "1.0.130", features = ["rc"] }
serde_derive = "1.0.130"
serde_json = "1.0.67"
vfio-ioctls = { git = "https://github.com/rust-vmm/vfio-ioctls", branch = "master", default-features = false }
vm-memory = { version = "0.6.0", features = ["backend-mmap"] }
vmm-sys-util = "0.8.0"

