[package]
name = "vm-device"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"

[features]
default = []
kvm = ["vfio-ioctls/kvm"]
mshv = ["vfio-ioctls/mshv"]

[dependencies]
anyhow = "1.0.51"
thiserror = "1.0.30"
serde = { version = "1.0.131", features = ["rc"] }
serde_derive = "1.0.131"
serde_json = "1.0.72"
vfio-ioctls = { git = "https://github.com/rust-vmm/vfio-ioctls", branch = "main", default-features = false }
vm-memory = { version = "0.6.0", features = ["backend-mmap"] }
vmm-sys-util = "0.9.0"

