[package]
name = "vm-device"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2021"

[features]
default = []
kvm = ["vfio-ioctls/kvm"]
mshv = ["vfio-ioctls/mshv"]

[dependencies]
anyhow = "1.0.58"
hypervisor = { path = "../hypervisor" }
thiserror = "1.0.31"
serde = { version = "1.0.137", features = ["rc", "derive"] }
serde_json = "1.0.81"
vfio-ioctls = { git = "https://github.com/rust-vmm/vfio", branch = "main", default-features = false }
vm-memory = { version = "0.8.0", features = ["backend-mmap"] }
vmm-sys-util = "0.9.0"

