# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (next section).
build_file: "cloud-hypervisor/google_internal/kokoro/kokoro_build.sh"
container_properties {
  docker_image: "us-central1-docker.pkg.dev/ps-hats-playground/presubmit/presubmit@sha256:706d1bf515af8ad505ac3e70ba170cb5048f8cbceace930823b0bf4bdca07c7f",
}