# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (next section).
build_file: "cloud-hypervisor/google_internal/kokoro/kokoro_swarming_build.sh"
container_properties {
  docker_image: "us-central1-docker.pkg.dev/ps-hats-playground/presubmit/presubmit@sha256:ea3d614bde2dad19a2bb57cc2a6d076fcd2285abc9e071fd1543f00e80b196b5",
}
gfile_resources: "/x20/teams/bazel/releases/bazel-7.4.1-linux-x86_64"
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 78411
      keyname: "swarming-service-key"
    }
  }
}
