[package]
name = "vm-virtio"
version = "0.1.0"
authors = ["Samuel Ortiz <sameo@linux.intel.com>"]
edition = "2018"

[features]
default = []
pci_support = ["pci"]
mmio_support = []

[dependencies]
arc-swap = "0.4.4"
byteorder = "1.3.4"
devices = { path = "../devices" }
epoll = "4.1.0"
libc = "0.2.66"
log = "0.4.8"
net_gen = { path = "../net_gen" }
net_util = { path = "../net_util" }
pci = { path = "../pci", optional = true }
tempfile = "3.1.0"
virtio-bindings = { version = "0.1.0", features = ["virtio-v5_0_0"] }
vm-allocator = { path = "../vm-allocator" }
vm-device = { path = "../vm-device" }
vmm-sys-util = "0.4.0"

[dependencies.vhost_rs]
path = "../vhost_rs"
features = ["vhost-user-master"]

[dependencies.vm-memory]
git = "https://github.com/rust-vmm/vm-memory"
features = ["backend-mmap"]
