[package]
name = "devices"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[dependencies]
anyhow = "1.0"
bitflags = ">=1.2.1"
byteorder = "1.3.4"
epoll = ">=4.0.1"
libc = "0.2.82"
log = "0.4.13"
serde = {version = ">=1.0.27", features = ["rc"] }
serde_derive = ">=1.0.27"
serde_json = ">=1.0.9"
vm-device = { path = "../vm-device" }
acpi_tables = { path = "../acpi_tables", optional = true }
vm-memory = "0.4.0"
vm-migration = { path = "../vm-migration" }
vmm-sys-util = ">=0.3.1"

[dev-dependencies]
tempfile = "3.2.0"

[features]
default = []
acpi = ["acpi_tables"]
cmos = []
fwdebug = []
