[package]
name = "devices"
version = "0.1.0"
authors = ["The Chromium OS Authors"]
edition = "2018"

[dependencies]
acpi_tables = { path = "../acpi_tables", optional = true }
anyhow = "1.0.43"
arch = { path = "../arch" }
bitflags = "1.3.2"
byteorder = "1.4.3"
epoll = "4.3.1"
libc = "0.2.100"
log = "0.4.14"
versionize = "0.1.6"
versionize_derive = "0.1.4"
vm-device = { path = "../vm-device" }
vm-memory = "0.6.0"
vm-migration = { path = "../vm-migration" }
vmm-sys-util = "0.8.0"

[features]
default = []
acpi = ["acpi_tables"]
cmos = []
fwdebug = []
