[package]
name = "arch"
version = "0.1.0"
authors = ["The Chromium OS Authors"]
edition = "2021"

[features]
default = []
tdx = []

[dependencies]
anyhow = "1.0.64"
byteorder = "1.4.3"
hypervisor = { path = "../hypervisor" }
libc = "0.2.132"
linux-loader = { version = "0.5.0", features = ["elf", "bzimage", "pe"] }
log = "0.4.17"
serde = { version = "1.0.144", features = ["rc", "derive"] }
thiserror = "1.0.34"
uuid = "1.1.2"
versionize = "0.1.6"
versionize_derive = "0.1.4"
vm-memory = { version = "0.8.0", features = ["backend-mmap", "backend-bitmap"] }
vm-migration = { path = "../vm-migration" }
vmm-sys-util = { version = "0.10.0", features = ["with-serde"] }

[target.'cfg(target_arch = "aarch64")'.dependencies]
fdt_parser = { version = "0.1.4", package = "fdt" }
vm-fdt = { git = "https://github.com/rust-vmm/vm-fdt", branch = "main" }
