[package]
name = "arch"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[dependencies]
byteorder = "=1.2.1"
kvm-bindings = "0.1"
kvm-ioctls = { git = "https://github.com/sboeuf/kvm-ioctls", branch = "add_gsi_routing" }
libc = ">=0.2.39"

arch_gen = { path = "../arch_gen" }

[dependencies.vm-memory]
git = "https://github.com/rust-vmm/vm-memory"
features = ["backend-mmap"]

[dependencies.linux-loader]
git = "https://github.com/rust-vmm/linux-loader"
features = ["elf", "bzimage"]

[dev-dependencies]
rand = ">=0.5.5"
