[package]
name = "arch"
version = "0.1.0"
authors = ["The Chromium OS Authors"]

[features]
default = []
acpi = ["acpi_tables"]

[dependencies]
anyhow = "1.0"
byteorder = "1.3.4"
hypervisor = { path = "../hypervisor" }
libc = "0.2.82"
log = "0.4.13"
serde = {version = ">=1.0.27", features = ["rc"] }
serde_derive = ">=1.0.27"
serde_json = ">=1.0.9"
vm-memory = { version = "0.4.0", features = ["backend-mmap"] }
vm-migration = { path = "../vm-migration" }
acpi_tables = { path = "../acpi_tables", optional = true }
arch_gen = { path = "../arch_gen" }

[dependencies.linux-loader]
git = "https://github.com/rust-vmm/linux-loader"
features = ["elf", "bzimage"]

[dev-dependencies]
rand = "0.8.1"
