[package]
name = "vmm"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"

[features]
default = []
acpi = ["acpi_tables","devices/acpi", "arch/acpi"]
cmos = ["devices/cmos"]
fwdebug = ["devices/fwdebug"]
kvm = ["hypervisor/kvm"]
mshv = ["hypervisor/mshv"]
io_uring = ["virtio-devices/io_uring"]
tdx = ["arch/tdx", "hypervisor/tdx"]

[dependencies]
acpi_tables = { path = "../acpi_tables", optional = true }
anyhow = "1.0"
arc-swap = ">=1.0.0"
arch = { path = "../arch" }
bitflags = ">=1.2.1"
block_util = { path = "../block_util" }
clap = "2.33.3"
devices = { path = "../devices" }
epoll = ">=4.0.1"
event_monitor = { path = "../event_monitor" }
hypervisor = { path = "../hypervisor" }
lazy_static = "1.4.0"
libc = "0.2.95"
linux-loader = { version = "0.3.0", features = ["elf", "bzimage", "pe"] }
log = "0.4.14"
micro_http = { git = "https://github.com/firecracker-microvm/micro-http", branch = "main" }
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
pci = { path = "../pci" }
qcow = { path = "../qcow" }
seccomp = { git = "https://github.com/firecracker-microvm/firecracker", tag = "v0.24.4" }
serde = {version = ">=1.0.27", features = ["rc"] }
serde_derive = ">=1.0.27"
serde_json = ">=1.0.9"
signal-hook = "0.3.9"
thiserror = "1.0"
versionize = "0.1.6"
versionize_derive = "0.1.4"
vfio-ioctls = { git = "https://github.com/rust-vmm/vfio-ioctls", branch = "master" }
virtio-devices = { path = "../virtio-devices" }
vm-allocator = { path = "../vm-allocator" }
vm-device = { path = "../vm-device" }
vm-memory = { version = "0.5.0", features = ["backend-mmap", "backend-atomic"] }
vm-migration = { path = "../vm-migration" }
vm-virtio = { path = "../vm-virtio" }
vmm-sys-util = { version = ">=0.5.0", features = ["with-serde"] }

[dev-dependencies]
credibility = "0.1.3"
