[package]
name = "vmm"
version = "0.1.0"
authors = ["The Cloud Hypervisor Authors"]
edition = "2018"

[features]
default = []
acpi = ["acpi_tables","devices/acpi", "arch/acpi"]
cmos = ["devices/cmos"]
fwdebug = ["devices/fwdebug"]
kvm = ["hypervisor/kvm", "vfio-ioctls/kvm", "vm-device/kvm", "pci/kvm"]
mshv = ["hypervisor/mshv", "virtio-devices/mshv", "vfio-ioctls/mshv", "vm-device/mshv", "pci/mshv"]
tdx = ["arch/tdx", "hypervisor/tdx"]

[dependencies]
acpi_tables = { path = "../acpi_tables", optional = true }
anyhow = "1.0.53"
arc-swap = "1.5.0"
arch = { path = "../arch" }
bitflags = "1.3.2"
block_util = { path = "../block_util" }
clap = "3.0.12"
devices = { path = "../devices" }
epoll = "4.3.1"
event_monitor = { path = "../event_monitor" }
hypervisor = { path = "../hypervisor" }
lazy_static = "1.4.0"
libc = "0.2.113"
linux-loader = { version = "0.4.0", features = ["elf", "bzimage", "pe"] }
log = "0.4.14"
micro_http = { git = "https://github.com/firecracker-microvm/micro-http", branch = "main" }
net_util = { path = "../net_util" }
option_parser = { path = "../option_parser" }
pci = { path = "../pci" }
qcow = { path = "../qcow" }
seccompiler = "0.2.0"
serde = { version = "1.0.134", features = ["rc"] }
serde_derive = "1.0.135"
serde_json = "1.0.78"
signal-hook = "0.3.13"
thiserror = "1.0.30"
uuid = "0.8.2"
versionize = "0.1.6"
versionize_derive = "0.1.4"
vfio-ioctls = { git = "https://github.com/rust-vmm/vfio-ioctls", branch = "main", default-features = false }
vfio_user = { path = "../vfio_user" }
vhdx = { path = "../vhdx" }
virtio-devices = { path = "../virtio-devices" }
virtio-queue = { path = "../virtio-queue" }
vm-allocator = { path = "../vm-allocator" }
vm-device = { path = "../vm-device" }
vm-memory = { version = "0.7.0", features = ["backend-mmap", "backend-atomic", "backend-bitmap"] }
vm-migration = { path = "../vm-migration" }
vm-virtio = { path = "../vm-virtio" }
vmm-sys-util = { version = "0.9.0", features = ["with-serde"] }
