name: DCO
on: [pull_request, merge_group]

jobs:
  check:
    name: DCO Check ("Signed-Off-By")
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Check DCO
      if: ${{ github.event_name == 'pull_request' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip3 install -U dco-check
        dco-check -e "49699333+dependabot[bot]@users.noreply.github.com"
