name: Cloud Hypervisor Cargo Fuzz Build
on: [pull_request, merge_group]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Cargo Fuzz Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly
        target:
          - x86_64-unknown-linux-gnu
    env:
      RUSTFLAGS: -D warnings
    steps:
      - name: Code checkout
        uses: actions/checkout@v5
      - name: Install Rust toolchain (${{ matrix.rust }})
        uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: ${{ matrix.rust }}
            target: ${{ matrix.target }}
      - name: Install Cargo fuzz
        run: cargo install cargo-fuzz
      - name: Fuzz Build
        run: cargo fuzz build
      - name: Fuzz Check
        run: cargo fuzz check
