name: Cloud Hypervisor Cargo Fuzz Build
on: [pull_request, create]

jobs:
  build:
    if: github.event_name == 'pull_request'
    name: Cargo Fuzz Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - nightly
        target:
          - x86_64-unknown-linux-gnu
    steps:
      - name: Code checkout
        uses: actions/checkout@v2
      - name: Install Rust toolchain (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust }}
            target: ${{ matrix.target }}
            override: true
      - name: Install Cargo fuzz
        # Temporary fix for cargo-fuzz on latest nightly: https://github.com/rust-fuzz/cargo-fuzz/issues/276
        #run: cargo install cargo-fuzz
        run: cargo install --git https://github.com/rust-fuzz/cargo-fuzz --rev b4df3e58f767b5cad8d1aa6753961003f56f3609
      - name: Cargo Fuzz Build
        run: cargo fuzz build
