name: Cloud Hypervisor Tests (VFIO)

on: workflow_call
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Tests (VFIO)
    runs-on: ${{ github.event_name == 'pull_request' && 'ubuntu-latest' || 'vfio-nvidia' }}
    env:
      AUTH_DOWNLOAD_TOKEN: ${{ secrets.AUTH_DOWNLOAD_TOKEN }}
    steps:
      - name: Fix workspace permissions
        run: sudo chown -R runner:runner ${GITHUB_WORKSPACE}
      - name: Code checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run VFIO integration tests
        timeout-minutes: 15
        run: scripts/dev_cli.sh tests --integration-vfio
      # Most tests are failing with musl see #6790
      # - name: Run VFIO integration tests for musl
      #   timeout-minutes: 15
      #   run: scripts/dev_cli.sh tests --integration-vfio --libc musl
