name: Cloud Hypervisor Tests (x86-64)
on: [pull_request, merge_group]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        runner: ['garm-jammy', "garm-jammy-amd"]
        libc: ["musl", 'gnu']
    name: Tests (x86-64)
    runs-on: ${{ github.event_name == 'pull_request' && !(matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') && 'ubuntu-latest' || format('{0}-16', matrix.runner) }}
    steps:
      - name: Code checkout
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Docker
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        run: |
          sudo apt-get update
          sudo apt-get -y install ca-certificates curl gnupg
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
          sudo chmod a+r /usr/share/keyrings/docker-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
          sudo apt install -y docker-ce docker-ce-cli
      - name: Prepare for VDPA
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        run: scripts/prepare_vdpa.sh
      - name: Run unit tests
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        run: scripts/dev_cli.sh tests --unit --libc ${{ matrix.libc }}
      - name: Load openvswitch module
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        run: sudo modprobe openvswitch
      - name: Run integration tests
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        timeout-minutes: 40
        run: scripts/dev_cli.sh tests --integration --libc ${{ matrix.libc }}
      - name: Run live-migration integration tests
        if: ${{ github.event_name != 'pull_request' || (matrix.runner == 'garm-jammy' && matrix.libc == 'gnu') }}
        timeout-minutes: 20
        run: scripts/dev_cli.sh tests --integration-live-migration --libc ${{ matrix.libc }}
      - name: Skipping build for PR
        if: ${{ github.event_name == 'pull_request' && matrix.runner != 'garm-jammy' && matrix.libc != 'gnu' }}
        run: echo "Skipping build for PR"
